
<nav class="navbar navbar-expand-md navbar-dark bg-dark site-header">
  <div class="container-fluid ">
    <a class="py-2 px-2" [routerLink]="['/']" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
    </a>
    <a class="navbar-brand" [routerLink]="['/']">Ventas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsADN" aria-controls="navbarsADN" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsADN">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item " routerLinkActive="active" routerLinkActiveOptions="{exact:true}">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item " routerLinkActive="active" routerLinkActiveOptions="{exact:true}">
          <a class="nav-link" aria-current="page" [routerLink]="['/compra']">Compras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
