<div class="container">

    <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
        <div>Compras</div>

        <div class="d-flex justify-content-end align-items-center">
          <button type="button" class="btn btn-primary btn-round d-block mx-2" (click)="redirectCrearCompra()">
            <span class="ion ion-md-add"></span>&nbsp;<i class="fa fa-shopping-cart text-light" aria-hidden="true"></i> Comprar</button>
        </div>
    
    </h4>
      
    
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Numero Factura</th>
            <th scope="col">Costo total</th>
            <th scope="col">Estado Compra</th>
            <th scope="col">Fecha Compra</th>
            <th scope="col">Fecha Envio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let compra of listaCompras | orderById:'id' ">
          <tr>
            <th scope="row">{{ compra.id }}</th>
            <td>{{ compra.numeroFactura }}</td>
            <td>{{ compra.costoTotal }}</td>
            <td>{{ compra.estadoCompra }}</td>
            <td>{{ compra.fechaCompra }}</td>
            <td>{{ compra.fechaEnvio }}</td>
            <td>
                <button title="Ver detalles" (click)="verDetalleCompra(compra)" class="btn btn-info mx-1"><i class="fa fa-eye text-light" aria-hidden="true"></i></button>
                <button title="Devolucion" (click)="actualizarEstadoCompra(compra)" class="btn btn-warning mx-1"><i class="fa fa-undo text-light" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
    </table>
      
</div>
